body {
    width: 600px; 
    font-family: sans-serif;
    color: white;
    text-align:center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#popup {
    background-color: #445661;
}

#div-choose-product {
    height: 100px;
}

#div-ua-changes {
    height: 250px;
}

p.h4 {
    font-size: 14px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
}

@keyframes selectHover {
    from {
        width: 48%;
        height: 80%;
        color: rgba(255, 255, 255, 0.7);
        border: 2px solid rgba(255, 255, 255, 0.7);         
    }
    to {
        width: 50%;
        height: 87%;
        color: white;
        border: 2px solid white;  
    }
}

.select-parent {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 40%;
}

select {
    font-size: 14px;
    font-weight: bold;
    background-color: #38454C;
    color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: .25rem;
    width: 48%;
    height: 80%;
    outline: none;
}

select:hover, select:active {
    width: 50%;
    height: 87%;
    color: white;
    border: 2px solid white; 
}

select:hover {
    animation-name: selectHover;
    animation-duration: 0.25s;
}

@keyframes uaStrHover {
    from {
        color: rgba(255, 255, 255, 0.7);
    }
    to {
        color: white;
    }
}

#ua-str {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 5px;
    padding-right: 5px;
}

#ua-str:hover {
    color: white;
    animation-name: uaStrHover;
    animation-duration: 0.75s;
}

#apply-msg {
    font-size: 14px;
    display: none;
}

@keyframes BtnRow1Hover {
    from {
        width: 12%;
        height: 13%;
        color: rgba(255, 255, 255, 0.7);
        border: 2px solid rgba(255, 255, 255, 0.7);        
    }
    to {
        width: 13%;
        height: 15%;
        color: white;
        border: 2px solid white;
    }
}

.btn-row-1 {
    background-color: #38454C;
    color: rgba(255, 255, 255, 0.7);
    border: 2px solid #38454C;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    border-radius: .25rem;
    font-weight: bold;
    width: 12%;
    height: 13%
}

.btn-row-1:hover {
    color: white;
    border: 2px solid white;
    animation-name: BtnRow1Hover;
    animation-duration: 0.25s;
    width: 13%;
    height: 15%;    
}


@keyframes BtnRow2Hover {
    from {
        width: 32%;
        height: 13%;
        color: rgba(255, 255, 255, 0.7);
        border: 2px solid rgba(255, 255, 255, 0.7);        
    }
    to {
        width: 33%;
        height: 15%;
        color: white;
        border: 2px solid white;  
    }
}

.btn-row-2 {
    background-color: #38454C;
    color: rgba(255, 255, 255, 0.7);
    border: 2px solid #38454C;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    border-radius: .25rem;
    font-weight: bold;
    width: 32%;
    height: 13%;
}

.btn-row-2:hover {
    animation-name: BtnRow2Hover;
    animation-duration: 0.25s;    
    width: 33%;
    height: 15%;
    color: white;
    border: 2px solid white;     
}
